--extra-index-url https://download.pytorch.org/whl/xpu
packaging
opencv-python
accelerate
open-clip-torch==2.24.0
streamlit==1.37.0
metafunctions
sentence-transformers
vdms
tzlocal
dateparser
# video-llama requirements
decord
einops
omegaconf
pytorchvideo
webdataset
faiss-cpu
langchain_community
ipex-llm==2.3.0b20250625
torch==2.6.0+xpu               
torchvision==0.21.0+xpu
torchaudio==2.6.0+xpu
bigdl-core-xe-all==2.7.0b20250625
onednn-devel==2025.0.1
onednn==2025.0.1
dpcpp-cpp-rt==2025.0.2
transformers==4.44.2